/* Figma Styles of your File */

:root {
    /* Colors */
    /* Fonts */
    ---font-family: Pretendard-SemiBold, sans-serif;
    ---font-size: 24px;
    ---line-height: 150%;
    ---font-weight: 600;
    ---font-style: normal;
    ---font-family: Pretendard-Regular, sans-serif;
    ---font-size: 20px;
    ---line-height: 150%;
    ---font-weight: 400;
    ---font-style: normal;
    --textskillsmall-font-family: Satoshi-Regular, sans-serif;
    --textskillsmall-font-size: 16px;
    --textskillsmall-line-height: 160%;
    --textskillsmall-font-weight: 400;
    --textskillsmall-font-style: normal;
    --textskillbig-font-family: Satoshi-Medium, sans-serif;
    --textskillbig-font-size: 20px;
    --textskillbig-line-height: 160%;
    --textskillbig-font-weight: 500;
    --textskillbig-font-style: normal;
  
    /* Effects */
    --shadow-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.05);
    --blur-backdrop-filter: blur(15px);
  }
  /* Figma Color Variables of your File */
  :root,
  [data-variable-collection-mode="mode-1"] {
    /* mode-1 */
    --gray01: #181818;
    --color: #93949d;
    --gnbstroke: rgba(0, 0, 0, 0.2);
    --stroke: rgba(0, 0, 0, 0.1);
    --stroke02: #e4e4e6;
  }
  